<div class="col-md-6 offset-md-3">
    <h3> Upate Bill </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> amount</label>
            <input type="text" class ="form-control" id = "amount"
                [(ngModel)] = "elecbill.amount" name = "amount">
        </div>
    
        <div class="form-group">
            <label> Description </label>
            <input type="text" class ="form-control" id = "description"
                [(ngModel)] = "elecbill.description" name = "Description">
        </div>
    
        <div class="form-group">
            <label>Date</label>
            <input type="text" class ="form-control" id = "date"
                [(ngModel)] = "elecbill.billdate" name = "date">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 